{% load i18n %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <script src="{% static 'js/login.js'%}"></script>
    <title>{% translate "Login" %} | GenFocus</title>
</head>
<body>
    <main>
        <section class="login">
            <form action="{% url 'login'%}" method="POST" class="form">
            {% csrf_token %}
                <div class="wrapper">
                    <h1>GenFocus</h1>
                    <h2 class="login-title">{% translate "Log in" %}</h2>
                    <label class="login-label">
                        <span>{% translate "Username" %}</span>
                        <input type="text" name="username" class="input" required>
                    </label>
                    <label class="login-label">
                        <span>{% translate "Password" %}</span>
                        <input type="password" name="password" class="input" required>
                    </label>
                    <div class="login-icons">
                        <button type="button" class="icons-button">
                            <img src="{% static 'media/facebook.png'%}" alt="Facebook">
                        </button>
                        <button type="button" class="icons-button">
                            <img src="{% static 'media/google.png'%}" alt="Google">
                        </button>
                        <button type="button" class="icons-button">
                            <img src="{% static 'media/apple.png'%}" alt="Apple">
                        </button>
                        <div class="sorry-blocked"><div><h1>{% translate "Sorry, these log in method are disabled."%}</h1></div></div>
                    </div>
                </div>
                <div class="wrapper">
                    <button type="submit" class="login-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z"/></svg>
                    </button>
                    {% for k, v in form.errors.items %}
                        {{ v }}
                    {% endfor %}
                    <a href="#">{% translate "I can't log in"%}</a>
                    <a href="{% url 'signup'%}">{% translate "Sign Up"%}</a>
                </div>
            </form>
        </section>
        <section class="wallpaper"></section>
    </main>
</body>
</html>