* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --white: #FFF;
    --whitesmoke: #f9f9f9;
    --light-grey: #ECECEC;
    --grey: #C4C4C4;
    --medium-grey: #a7a7a7;
    --deep-grey: #343434;
    --black: #000000;
    --blue: #1B77F3;
    --red: #CF3C3F;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

main{
    display: flex;
    height: 100vh;
}

.form{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    min-width:100vh;
    padding: clamp(35px, 8%, 70px);
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-title{
    color: var(--deep-grey);
    font-size: 1.5em;
    margin-bottom: 30px;
}

.login-label{
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.input{
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
}

.login-label span{
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 20px;
    cursor: text;
    transition: all 200ms ease;
}

.input:focus{
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}

.login-label .span-active{
    font-size: 0.7em;
    margin: 8px 10px;
}

.login-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.login-icons img{
    width: 20px;
}

.icons-button{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.login-icons .icons-button:nth-child(1){
    background-color: var(--blue);
}

.login-icons .icons-button:nth-child(2){
    background-color: var(--light-grey);
}

.login-icons .icons-button:nth-child(3){
    background-color: var(--black);
}

.login-button{
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;
}

.login-button svg{
    fill: white;
}

.login-button:disabled{
    cursor: auto;
    background-color: white;
    border: 2px solid var(--light-grey);
}

.login-button:disabled svg{
    fill: var(--grey);
}

.login-link{
    font-size: 0.8em;
    text-decoration: none;
    color: var(--medium-grey);
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
}

.wallpaper{
    width: 100%;
    background-image: url('../media/loginbg.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;
}

.sorry-blocked{
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: rgba(50, 50, 50, 100);
}
